body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 50px;
    margin: 0;
}

/* svg {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
} */